#box {
  width: 800px;
  height: 300px;
  padding: 30px;
  border: 3px solid red;

  /* linear gradient */
  /* background: linear-gradient(to right, red, yellow); */
  /* background: linear-gradient(to bottom right, red, yellow); */
  /* background: linear-gradient(45deg, red, yellow); */
  /* background: linear-gradient(-45deg, red, yellow); */
  /* background: linear-gradient(to bottom, red, rgba(255, 0, 0, 0)); */

  /* repeated linear gradient */
  /* background: repeating-linear-gradient(red, yellow 10%, blue 20%); */
  /* background: repeating-linear-gradient(to right, red, yellow 10%, blue 20%); */

  /* radial gradient */
  /* background: radial-gradient(red, yellow, blue); */
  /* background: radial-gradient(red 10%, yellow 20%, blue 60%); */
  /* background: radial-gradient(circle, red 10%, yellow 20%, blue 60%); */
  /* background: radial-gradient(closest-side at 50% 50%, red, yellow, blue); */
  /* background: radial-gradient(closest-side at 80% 20%, red, yellow, blue); */
  /* background: radial-gradient(closest-side at 80% 70%, red, yellow, blue); */
  /* background: radial-gradient(farthest-side at 50% 50%, red, yellow, blue); */
  /* background: radial-gradient(farthest-side at 100% 0%, red, yellow, blue); */
  /* background: radial-gradient(farthest-side at 0% 100%, red, yellow, blue); */
  /* background: radial-gradient(farthest-corner at 0% 0%, red, yellow, blue); */
  /* background: radial-gradient(farthest-corner at 20% 40%, red, yellow, blue); */
  /* background: radial-gradient(closest-corner at 20% 40%, red, yellow, blue); */
  /* background: radial-gradient(closest-corner at 5% 5%, red, yellow, blue); */

  /* repeated radial gradient */
  /* background: repeating-radial-gradient(red, yellow, blue); */
  /* background: repeating-radial-gradient(red, yellow 20%, blue 30%); */
  background: repeating-radial-gradient(circle, red, yellow 20%, blue 30%);
}
