/* first-child */
ul li:first-child {
  color: blue;
}

/* last-child */
ul li:last-child {
  color: red;
}

/* nth-child(n) */
ul li:nth-child(3) {
  color: orange;
}

/* nth-last-child(n) */
ul li:nth-last-child(2) {
  color: green;
}

/* nth-of-type(n) */
p:nth-of-type(2) {
  font-family: Impact;
}

/* nth-last-of-type(n) */
p:nth-last-of-type(2) {
  color: lightsalmon;
}

/* only-child */
a:only-child {
  text-decoration: none;
  color: purple;
}

/* only-of-type */
p:only-of-type {
  color: saddlebrown;
  font-weight: bold;
}

/* first-of-type */
p:first-of-type {
  font-family: verdana;
}

/* last-of-type */
p:last-of-type {
  font-family: Verdana;
}

/* empty */
div:empty {
  width: 300px;
  height: 200px;
  background-color: papayawhip;
  border: 3px solid orange;
}

/* not */
p:not(.text) {
    background-color: yellow;
}

/* lang() */
p:lang(fr) {
    color: crimson;
}