div.card {
  width: 150px;
  height: 150px;
  background-color: black;
  margin: 30px 0 0 20px;
  cursor: pointer;

  /* animation */
  /* animation: sample 3s infinite alternate; */
  /* animation-play-state: paused; */
}

/* animation-play-state 👇 */
div.card:hover {
  animation-play-state: paused;
  /* animation-play-state: running; */
}

@keyframes sample {
  0% {
    background-color: yellow;
    width: 250px;
  }
  25% {
    background-color: blue;
    width: 350px;
  }
  50% {
    background-color: green;
    width: 450px;
  }
  75% {
    background-color: red;
    width: 550px;
  }
  100% {
    background-color: orange;
    width: 650px;
  }
}
