.div1 {
  width: 400px;
  padding: 25px;
  border: 2px solid blue;
  font-family: Arial, Helvetica, sans-serif;

  /* 
  ===================
    Text Properties
  ===================
  */

  /* 1. text-align */
  /* text-align: justify; */
  /* text-align: center; */
  /* text-align: right; */
  text-align: left;

  /* 2. text-align-last */
  /* text-align-last: left; */
  /* text-align-last: center; */
  /* text-align-last: right; */
  /* text-align-last: justify; */
  text-align-last: start;
  /* text-align-last: end; */

  /* 3. text-transform */
  text-transform: lowercase;
  /* text-transform: uppercase; */
  /* text-transform: capitalize; */

  /* 4. text-indent */
  /* text-indent: 100px; */
  text-indent: 50px;

  /* 5. word-spacing */
  /* word-spacing: 50px; */
  word-spacing: 20px;

  /* 6. letter-spacing */
  /* letter-spacing: 50px; */
  letter-spacing: 10px;

  /* 7. line-height */
  /* line-height: 30px; */
  line-height: 20px;
}
